!!!
%head
  %title== Protipse ! #{@title}
  = stylesheet_link_tag "reset", "style"
  = yield :head
%body
  %h1
    %a{ :href => '/' }Protipse !
  %ul#menu
    %li Wtf
    %li Wtf
    %li Wtf
    %li Wtf
  #content
    = yield :layout

  #footer
    %p
      &copy;
      %a{ :href => 'http://andascarygoat.com' }zmack
    = yield :footer
  = javascript_include_tag "jquery-1.3.2", "pretty", "scripts"
  - yield :js
